<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Red_jungle_fowl_white_background.png">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary">
          If I'm in a blue 'alert' and centered Bootstrap is well installed!
        </div>
      </div>
    </div>
  </div>
  <nav>                                   
    <a routerLink="/">Home</a>      
    <a> | </a>    
    <a routerLink="/about">About</a>
    <a> | </a>
    <a routerLink="/todo">Todo App</a>  
</nav>  
</div>



<router-outlet></router-outlet>